@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(114, 161, 141);
  font-family: 'Roboto Slab', serif;
  margin: 0 20px;
}

h1 {
  width: 100%;
  font-size: 49px;
  padding: 5px 10px;
}

form {
  display: flex;
}

input[type='text'] {
  width: 80%;
  height: 30px;
  background-color: azure;
  border: none;
  font-size: 25px;
  margin-left: 10px;
  border-radius: 3px;
}

input[type='submit'] {
  /* width: 50px; */
  height: 30px;

  padding: 0 10px;

  border: none;
  border-radius: 3px;

  font-family: 'Roboto Slab', serif;
  background-color: #cacaca;
}

ul {
  margin-top: 20px;
  margin-bottom: 40px;
}

h3 {
  font-size: 31px;
}

li {
  font-size: 20px;
  list-style: none;
  line-height: 1.4;
}

img {
  width: 100%;
  border-radius: 5px;
}

p {
  font-size: 16px;
}

span {
  font-size: 16px;
}

.info-box {
  background-color: rgb(167, 194, 182);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

path {
  stroke: black;
  fill: paleturquoise !important;

  transition: fill 0.4s ease;
}

path:hover {
  fill: orange !important;
}

svg {
  display: none;
}

.hidden {
  display: none;
}

#details-box {
  display: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 24px;
  position: fixed;
  color: white;
  background-color: black;
  width: fit-content;
  transform: translateX(-50%);
  transition: opacity 0.4s ease;
  z-index: 1;
}

@media only screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
  }

  h1 {
    width: auto;
    margin-bottom: 10px;
  }

  form {
    margin-bottom: 20px;
  }

  input[type='text'] {
    width: 500px;
    margin-left: 0;
  }

  svg {
    display: inline;
    background-color: rgb(167, 194, 182);
    border-radius: 5px;
    width: 100%;
  }

  #details-box {
    display: inline;
  }

  ul {
    justify-content: left;
    width: 820px;
  }

  img {
    width: 50%;
  }

  .grid-container {
    background-color: rgb(167, 194, 182);
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
  }

  .info-box {
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1000px) {
  ul {
    display: grid;
    grid-template-columns: 420px 420px;
    column-gap: 50px;
    row-gap: 10px;
  }

  h3 {
    grid-area: 1 / 1 / 2 / 3;
  }

  .grid-container {
    flex-direction: column;
  }

  img {
    width: 100%;
  }
}
/* #us-map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
